@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* @import "tailwindcss"; */


@layer utilities{
    .source-sens-3{
        font-family: "Source Sans 3", sans-serif;
    }
}

